.button {
  background: #fff;
  border: 1px solid var(--border-color);
  padding: 7px 12px;
  cursor: pointer;
  border-radius: var(--button-border-radius);
  font-size: var(--font-size);
  margin-right: 5px;
}

.button:hover {
  background: var(--hover-color);
}

.button[disabled] {
  background: #fdfcfc;
  cursor: not-allowed;
}
