html, body, #dashboard {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.dashboard-navbar {
  flex: 0;
}
.dashboard-content {
  flex: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.error-container {
  flex: 0;
}
.image-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.image-container > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.image-title {
  flex: 0;
  min-height: 40px;
}
.image-content {
  flex: 1;
  padding: 0;
  margin: 15px;
  position: relative;
}
.image-info {
  flex: 0;
  min-height: 40px;
}
.image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.fixed-dropdown {
  max-width: 400px;
}
.fixed-dropdown li a {
  text-overflow: ellipsis;
  overflow: hidden;
}

.disabled-area {
  opacity: .4;
}
