:root {
  --border-color: #ccc;
  --font-size: 14px;
  --hover-color: #eee;
  --button-border-radius: 3px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: var(--font-size);
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

#dashboard {
  display: flex;
  flex-direction: column;
  flex: 1;
}

h4, h5, h6 {
  color: rgba(0, 0, 0, 0.541176);
}

h4 {
  font-size: 14px;
}

p {
  margin: 0 0 10px;
}

.paragraph {
  margin: 16px 0;
}

.hr {
  margin: -1px 0px 0px;
  height: 1px;
  border: none;
  background-color: var(--border-color);
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}
