.gallery .image .title {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.gallery .image .wrapper {
  flex: 1;
  padding: 0;
  margin: 15px;
  position: relative;
}

.gallery .image .wrapper .picture {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.gallery .image .info {
  padding: 10px;
  border-top: 1px solid #eee;
}

.gallery .image .missing {
  margin: auto;
  color: #ccc;
  font-size: 20px;
}
